{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau bénéficiaire{% endblock %}

{% block body %}
    <div class="flex justify-around bg-purple-600 text-xl text-white py-6"> 

        <h1>Ajouter un nouveau bénéficiaire</h1>
    </div>
    <div class="px-6 ">
        <div class="bg-purple-600 max-w-6xl p-10 font-semibold mx-auto mt-40 pt-20">
            {{ include('account_beneficiary/_form.html.twig') }}
            <div class="flex justify-center">
                <a class="mx-auto mt-12" href="{{ path('index') }}">Retourner au menu principal</a>
            </div>
        </div>
    </div>
{% endblock %}
